@import url('https://fonts.googleapis.com/css2?family=Press+Start 2P:wght@400&display=swap&text');
@import url('https://fonts.googleapis.com/css2?family=Press+Start 2P:wght@400&display=swap&text=♥');

/* Global */

:root {
    --black1: black;
    --black2: rgba(0, 0, 0, 0.8);
    --black3: rgba(0, 0, 0, 0.3);

    --white1: white;
    --white2: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Press Start 2P';
    font-weight: normal;
}

a {
    text-decoration: none;
    color: var(--black2);
}

a:hover {
    color: var(--black1);
}

section {
    scroll-margin-top: 56px;

    width: 100%;
    height: calc(100vh - 56px);
}

.project-thumbnail {
    background-size: cover;
    background-repeat: no-repeat;
}

/* Icons */

.social-link::after {
    content: ">";
    position: relative;
    left: 16px;
}

.project-card a::after {
    content: ">";
    position: relative;
    top: 2px;
    left: 16px;
}

/* Animations */

@keyframes typing {
    from {
        width: 0;
        border-right: 4px solid black;
    }

    to {
        width: 100%;
        border-right: 0;
    }
}

.typing-animation {
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    animation: typing 1.5s steps(24, end) forwards;
}

#welcome-section p {
    animation-delay: 2s;
}

/* Navbar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    gap: 32px;

    position: fixed;
    width: 100%;
    height: auto;

    background: black;
}

nav a {
    font-size: 24px;

    color: var(--white2);
}

nav a:hover {
    color: var(--white1);
}

@media (max-width: 703px) {
    nav {
        justify-content: space-evenly;
    }
}

@media (max-width: 540px) {
    nav a {
        font-size: 18px;
    }

    section {
        scroll-margin-top: 50px;
        height: calc(100vh - 50px);
    }
}

/* Welcome section */

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    text-align: center;

    height: 100vh;
}

#welcome-section h1 {
    font-size: 32px;
}

#welcome-section p {
    font-size: 24px;
    color: var(--black3);
}

@media (max-width: 540px) {
    #welcome-section h1 {
        font-size: 24px;
    }

    #welcome-section p {
        font-size: 20px;
    }
}

/* Projects section */

#projects-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;

    min-height: calc(100vh - 56px);
    height: auto;

    padding: 64px;
}

.section-title {
    font-size: 48px;
    text-align: center;
}

#project-cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 64px;
    flex-wrap: wrap;
}

.project-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    width: 25vw;
    min-width: 256px;
}

.project-thumbnail {
    width: 100%;
    aspect-ratio: 1 / 1;

    border: 4px solid;
}

.project-card-button {
    font-size: 32px;
    text-align: center;
}

.project-thumbnail img {
    object-fit: cover;

    width: 100%;
    height: 100%;
}

#whats-next {
    display: none;
}

#whats-next .project-thumbnail {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

@media (max-width: 1023px) {
    .project-card-button {
        font-size: 24px;
    }

    #whats-next {
        display: inherit;
        color: var(--black3);
    }
}

@media (max-width: 703px) {
    #whats-next {
        display: none;
    }
}

@media (max-width: 468px) {
    .section-title {
        font-size: 40px;
    }

    #projects-section {
        padding: 64px 32px;
    }
}

/* Links section */

#links-section {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;

    padding: 128px 64px 64px;
    gap: 64px;
}

#links-section .section-title {
    position: relative;
    right: 5px;
}

#social-links {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.social-link {
    font-size: 24px;
}

#social-links a:nth-of-type(2) {
    position: relative;
    right: 3px;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-top: auto;

    width: 100%;
    height: auto;
}

@media (max-width: 703px) {
    #links-section {
        padding: 128px 32px 32px;
    }
}

@media (max-width: 540px) {
    footer {
        flex-direction: column;
        gap: 24px;
        text-align: center;
    }
}