@import url('https://fonts.googleapis.com/css2?family=Press+Start 2P:wght@400&display=swap');

/* Global */

:root {
    --black1: black;
    --black2: rgba(0, 0, 0, 0.7);
    --black3: rgba(0, 0, 0, 0.3);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Press Start 2P';
    font-weight: normal;
}

a {
    text-decoration: none;
    color: initial;
}

#welcome-section {
    height: 100vh;
}

/* Navbar */

nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 16px;
    gap: 32px;

    position: fixed;
    width: 100%;
    height: auto;

    background: black;
}

nav a {
    font-size: 24px;

    color: #f5f5f5;
}

nav a:hover {
    color: white;
}

@media (max-width: 540px) {
    nav {
        justify-content: space-evenly;
    }

    nav a {
        font-size: 18px;
    }
}

/* Welcome section */

#welcome-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    width: 100vw;
    height: 100vh;
}

#welcome-section h1 {
    font-size: 32px;
}

#welcome-section p {
    font-size: 24px;
    color: var(--black3);
}

@media (max-width: 540px) {
    #welcome-section h1 {
        font-size: 24px;
    }

    #welcome-section p {
        font-size: 20px;
    }
}